---
import { getProduct } from "../../api";

const id = Number(Astro.params.id);
const product = await getProduct(Astro.request, id);
---

<html>
  <head>
    <title>{product.name}</title>
    <meta name="description" content={product.description} />
  </head>
  <body>
    <div class="container mx-auto">
      <pre>        
          {JSON.stringify(product, null, 2)}  
      </pre>
    </div>
  </body>
</html>
